.header {
    color: white;
}

.header_wrapper {
    display: flex;
    justify-content: center;
    background-color: #232323;
}

/*PAGE_CONTAINER*/
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*PRIMARY CONTENT CONTAINER*/
.primary_content_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
}

/*CIRCULAR_PROGRESS ELEMENT*/
.circularProgress_colorPrimary {
    color: #ecca19;
}

/*TABLE*/
.table_container {
    width: max-content !important;
    background-color: black;
    border-radius: 20px;
    border: 2px #adadad solid;
}

.table {
    border-radius: 20px;
    border: 8px green solid !important;
}

.tableCell_head_root {
    color: #ecca19 !important;
    /*border: 2px green solid !important;*/
}

.tableCell_body_root {
    color: white !important;
    /*border: 2px green solid !important;*/
}
.tablePagination_root {
    background-color: white !important;
    box-sizing: border-box;
    height: 50px !important;
    /*border: 2px green solid !important;*/
}

.spacer {
    max-width: 0 !important;
}