/* ------------ PAGE CONTAINER ------------ */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ------------ PAGE TITLE ------------ */
.permissions_title{
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px 0;
    letter-spacing: 5px;
}

/* ------------ MUI TABLE ------------ */
.MuiTableContainer_root {
    max-width: 70%;
    margin: auto;
}

.MuiTableCell_head {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #ecca19 !important;
    border: 2px #60ad60 solid !important;
    width: fit-content !important;
}

.MuiTableCell_body {
    color: white !important;
    border: 2px #60ad60 solid !important;
    font-size: 18px !important;
    width: fit-content !important;
    text-align: center !important;
}

.MuiTableCell_alignCenter:hover {
    color: #ecca19 !important;
}

.MuiTableCell_alignCenter:after {
    content: '*';
    color: red;
}

/* ------------ HEADER CHECKBOX ------------ */
.header_checkbox {
    color: #ecca19 !important;
    padding-left: 12px !important;
}

/* ------------ BODY CHECKBOX ------------ */
.body_checkbox{
    color: white !important;
}

/* ------------ DELETE ICON ------------ */
.delete_icon{
    position: fixed;
    left: 20px;
    bottom: 90px;
    padding: 10px;
    color: white;
    background: red;
    border-radius: 50%;
    transition: all .3s ease-in-out !important;
}

.delete_icon:hover{
    transform: scale(1.2);
}
/* ------------ ADD ICON ------------ */
.add_icon {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    color: white;
    background: #60ad60;
    border-radius: 50%;
    transition: all .3s ease-in-out !important;
}

.add_icon:hover{
    transform: scale(1.2);
}