/* ------------ MUI TABLE ------------ */
.MuiTableContainer_root {
    max-width: 70%;
    margin: auto;
}

/* ------------ HEADER CHECKBOX ------------ */
.header_checkbox {
    color: #ecca19 !important;
    padding-left: 12px !important;
}

/* ------------ BODY CHECKBOX ------------ */
.body_checkbox{
    color: white !important;
}