/* ------------ TABLE CONTAINER ------------ */
.MuiTableContainer_root {
    max-width: 90%;
    margin: auto;
}

/* ------------ TABLE BODY ------------ */
.MuiTableCell_body {
    color: white !important;
    border: 2px #60ad60 solid;
    font-size: 18px !important;
    width: fit-content !important;
    text-align: center !important;
}

.MuiTableCell_body a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 10px 5px 10px;
}

.MuiTableCell_body a:after {
    content: '*';
    color: red;
}

.MuiTableCell_body a:hover {
    color: gold;
}