.wrapper {
    width: 1200px;
    height: 800px;
}

.chatSection {
    min-height: 100%;
    max-height: 100%;
    background: #312d2d !important;
}

.message_list {
    max-height: 650px;
    height: 650px;
    overflow-y: auto;
    padding: 0 !important;
    margin: 0 !important;
}

.message_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_edit_button {
    margin-right: 15px;
    color: red;
}

.message_edit_button:hover {
    color: black;
}

.message {
    font-weight: bold;
}

.message_container {
    width: fit-content;
    height: fit-content;
    max-width: 50%;
    word-break: break-word;
    border-radius: 10px;
    padding: 0 10px;
}

.system_message {
    width: fit-content;
    max-width: 70%;
    word-break: break-all;
    margin: auto;
    border-radius: 10px;
    border: 1px #ecca19 dashed;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.unread_message_text {
    margin-right: 15px;
}

.message_input_container {
    padding: 20px 30px 10px 20px;
}

.message_input_field input{
    color: white !important;
}

.send_icon {
    margin-left: 30px !important;
}

.room_container {
    border-right: 1px solid #ecca19;
    overflow-x: hidden;
    color: white !important;
}
.room_list {
    max-height: 733px;
    height: 733px;
    overflow-y: auto;
}

.room_button{
    color: white;
}

.room_button:hover {
    color: #ecca19;
}

.room_title_container {
    border-bottom: 1px #ecca19 solid;
}

.room_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    overflow-y: hidden;
    font-size: 20px;
    color: #ecca19;
}

.new_room_button_container {
    height: 80%;
}

.new_room_button {
    margin: 4px 4px;
    background-color: black;
    border-radius: 20px;
    border: 1px #ecca19 solid;
    height: 100%;
    color: #ecca19;
}

.button_content {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.button_content_spacer {
    width: 10px;
}