/*TABLE CONTAINER*/
.table_container {
    width: max-content !important;
    margin: auto;
}

.tableCell_head {
    font-size: 20px !important;
    border: 2px #60ad60 solid !important;
    color:  #ecca19 !important;
    text-align: center !important;
}

.tableCell_body {
    border: 2px #60ad60 solid !important;
    color:  white !important;
}

.tablePagination_root {
    box-sizing: border-box;
    height: 50px !important;
    color: white !important;
}

.tablePagination_root button {
    color: white;
}

/* DISABLED PAGINATION BUTTONS */
.tablePagination_root button:disabled {
    color: grey;
}

.actions {
    color: white !important;
}

.spacer {
    max-width: 0 !important;
}

/* UPDATED STYLES */

.MuiTableCell_head {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #ecca19 !important;
    border: 2px #60ad60 solid !important;
    width: fit-content !important;
}

.MuiTableCell_body {
    color: white !important;
    border: 2px #60ad60 solid !important;
    font-size: 18px !important;
    width: fit-content !important;
    text-align: center !important;
}

.MuiTableCell_alignCenter:hover {
    color: #ecca19 !important;
}

.MuiTableCell_alignCenter:after {
    content: '*';
    color: red;
}

.MuiTableCell_footer {
    color: white !important;
    border: 2px #60ad60 solid !important;
    font-size: 15px !important;
}

.MuiTablePagination_root {
    border: 2px #60ad60 solid !important;
    color: white !important;
}

.MuiTablePagination_root button {
    color: white;
}

.MuiTablePagination_root button:disabled {
    color: grey;
}

.MuiTablePagination_spacer {
    flex: 0 !important;
}

.MuiTablePagination_toolbar {
    justify-content: center !important;
}