
.table {
    color: #ecca19;
}

.pagination_controller {
    margin-top: 10px;
    background-color: white;
    width: fit-content;
}

.pagination_button {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
}